<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arm -->
  <xacro:property name="link1_joint" value="${[0, 0, 0.0715, 0, 0, 0]}"/>
  <xacro:property name="link1_limits" value="${[-0.7854, 0.7854]}"/>
  <xacro:property name="link1_inertial" value="${[-0.000941, 0.005367, 0.0733]}"/>
  <xacro:property name="link1_mass" value="1.17054"/>
  <xacro:property name="link1_inertia" value="${[0.005224, 0.000001, 0.000036, 0.005534, -0.000205, 0.004345]}"/>

  <xacro:property name="link2_joint" value="${[0, 0, 0.118, -1.5708, -1.0472, 0]}"/>
  <xacro:property name="link2_limits" value="${[1E-06, 2.0944]}"/>
  <xacro:property name="link2_inertial" value="${[0.001243, -0.205517, -0.004229]}"/>
  <xacro:property name="link2_mass" value="1.37833"/>
  <xacro:property name="link2_inertia" value="${[0.026143, -0.00183, 0.000127, 0.002503, 0.000050, 0.02504]}"/>

  <xacro:property name="link3_joint" value="${[0, -0.36, 0, 0, 0, 1.0472]}"/>
  <xacro:property name="link3_limits" value="${[-2.618, 1E-06]}"/>
  <xacro:property name="link3_inertial" value="${[0.124814, -0.008956, -0.000451]}"/>
  <xacro:property name="link3_mass" value="1.58588"/>
  <xacro:property name="link3_inertia" value="${[0.001743, 0.000005, -0.000098, 0.004400, 0.000018, 0.004198]}"/>

  <xacro:property name="link4_joint" value="${[0.152, -0.003, 0, 1.5708, 0, 0]}"/>
  <xacro:property name="link4_limits" value="${[-0.4, 0.4]}"/>
  <xacro:property name="link4_inertial" value="${[0.036944, -0.000149, 0.001115]}"/>
  <xacro:property name="link4_mass" value="0.139812"/>
  <xacro:property name="link4_inertia" value="${[0.000232, 0, 0.000007, 0.000195, 0, 0.000157]}"/>

  <xacro:property name="link5_joint" value="${[0.0756, 0, 0, 0, 1.5708, 0]}"/>
  <xacro:property name="link5_limits" value="${[-1.5709, 1.5709]}"/>
  <xacro:property name="link5_inertial" value="${[6E-06, 1.1E-05, 0.037589]}"/>
  <xacro:property name="link5_mass" value="0.528241"/>
  <xacro:property name="link5_inertia" value="${[0.001034, 0.000009, -0.000001, 0.000977, -0.000001, 0.000568]}"/>

  <xacro:property name="link6_joint" value="${[0, 0, 0.1614, -1.6081, -1.5708, 0.037258]}"/>
  <xacro:property name="link6_limits" value="${[-1.8, 1.8]}"/>
  <xacro:property name="link6_inertial" value="${[0.005373, -0.001981, 2E-06]}"/>
  <xacro:property name="link6_mass" value="0.159991"/>
  <xacro:property name="link6_inertia" value="${[0.000102, -0.000003, 0, 0.000146, 0, 0.000080]}"/>

  <xacro:property name="link7_joint" value="${[0.04955, 0, 0, 1.5708, 0, 1.5708]}"/>
  <xacro:property name="link7_limits" value="${[-6.28, 6.28]}"/>
  <xacro:property name="link7_inertial" value="${[0, 0, 0.006021]}"/>
  <xacro:property name="link7_mass" value="0.007071"/>
  <xacro:property name="link7_inertia" value="${[0.000001, 0, 0, 0.000001, 0, 0.000001]}"/>

  <xacro:property name="left_z_joint" value="${[0.0633, 0.2075, 0.20311, 0, 0, 0]}"/>
  <xacro:property name="left_z_axis" value="${[0, 0, 1]}"/>
  <xacro:property name="left_z_limits" value="${[1E-06, 0.08969]}"/>
  <xacro:property name="left_z_inertial" value="${[-0.058037, 0.007699, 0.062634]}"/>
  <xacro:property name="left_z_mass" value="2.06473"/>
  <xacro:property name="left_z_inertia" value="${[0.007718, 0.000177, 0.000195, 0.028724, 0.000010, 0.024449]}"/>

  <xacro:property name="left_x_joint" value="${[-0.221, 0.0325, 0.144, 0, 0, 0]}"/>
  <xacro:property name="left_x_axis" value="${[1, 0, 0]}"/>
  <xacro:property name="left_x_limits" value="${[1E-06, 0.3096]}"/>
  <xacro:property name="left_x_inertial" value="${[0.161562, -0.055708, -0.018456]}"/>
  <xacro:property name="left_x_mass" value="0.814767"/>
  <xacro:property name="left_x_inertia" value="${[0.000786, 0.000300, 0.001781, 0.026338, -0.000026, 0.026443]}"/>

  <xacro:property name="left_yaw_joint" value="${[0.4435, -0.0583, -0.0075, 0, 0, 0]}"/>
  <xacro:property name="left_yaw_axis" value="${[0, 0, 1]}"/>
  <xacro:property name="left_yaw_limits" value="${[-2.0944, 2.0944]}"/>
  <xacro:property name="left_yaw_inertial" value="${[0.063197, -2.2E-05, -0.031301]}"/>
  <xacro:property name="left_yaw_mass" value="0.06449"/>
  <xacro:property name="left_yaw_inertia" value="${[0.000069, 0, 0.000049, 0.000137, 0, 0.000086]}"/>

  <xacro:property name="right_z_joint" value="${[0.0658, -0.2075, 0.20311, 0, 0, 0]}"/>
  <xacro:property name="right_z_axis" value="${[0, 0, 1]}"/>
  <xacro:property name="right_z_limits" value="${[1E-06, 0.08969]}"/>
  <xacro:property name="right_z_inertial" value="${[-0.055178, -0.004026, 0.059103]}"/>
  <xacro:property name="right_z_mass" value="1.69853"/>
  <xacro:property name="right_z_inertia" value="${[0.005215, -0.000469, -0.000041, 0.024571, -0.000786, 0.021373]}"/>

  <xacro:property name="right_x_joint" value="${[-0.2481, -0.032, 0.144, 0, 0, 0]}"/>
  <xacro:property name="right_x_axis" value="${[1, 0, 0]}"/>
  <xacro:property name="right_x_limits" value="${[1E-06, 0.3096]}"/>
  <xacro:property name="right_x_inertial" value="${[0.205338, 0.052611, -0.020548]}"/>
  <xacro:property name="right_x_mass" value="0.603922"/>
  <xacro:property name="right_x_inertia" value="${[0.000591, -0.000686, 0.001355, 0.021109, 0.000065, 0.021222]}"/>

  <xacro:property name="right_yaw_joint" value="${[0.4435, 0.0583, -0.0055, 0, 0, 0.018823]}"/>
  <xacro:property name="right_yaw_axis" value="${[0, 0, 1]}"/>
  <xacro:property name="right_yaw_limits" value="${[-2.0944, 2.0944]}"/>
  <xacro:property name="right_yaw_inertial" value="${[0.063197, 2.2E-05, -0.033301]}"/>
  <xacro:property name="right_yaw_mass" value="0.06449"/>
  <xacro:property name="right_yaw_inertia" value="${[0.000069, 0, 0.000049, 0.000137, 0, 0.000086]}"/>

  <!-- Roller -->
  <xacro:property name="roller_origin_z1" value="0.0019"/>
  <xacro:property name="roller_origin_z2" value="-0.0019"/>

  <xacro:property name="roller_rotation_x1" value="-0.7854"/>
  <xacro:property name="roller_rotation_x2" value="0.7854"/>

  <xacro:property name="roller_rotation_z1" value="0.106101"/>
  <xacro:property name="roller_rotation_z2" value="0.498800"/>
  <xacro:property name="roller_rotation_z3" value="0.891499"/>
  <xacro:property name="roller_rotation_z4" value="1.284198"/>
  <xacro:property name="roller_rotation_z5" value="1.676897"/>
  <xacro:property name="roller_rotation_z6" value="2.069596"/>
  <xacro:property name="roller_rotation_z7" value="2.462295"/>
  <xacro:property name="roller_rotation_z8" value="2.854994"/>
  <xacro:property name="roller_rotation_z9" value="3.247694"/>
  <xacro:property name="roller_rotation_z10" value="3.640393"/>
  <xacro:property name="roller_rotation_z11" value="4.033092"/>
  <xacro:property name="roller_rotation_z12" value="4.425791"/>
  <xacro:property name="roller_rotation_z13" value="4.818490"/>
  <xacro:property name="roller_rotation_z14" value="5.211189"/>
  <xacro:property name="roller_rotation_z15" value="5.603888"/>
  <xacro:property name="roller_rotation_z16" value="5.996587"/>

</robot>
