<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_arm.gazebo"/>

  <xacro:macro name="engineer_tip" params="prefix m a">
    <joint name="${prefix}_optical_joint" type="revolute">
      <parent link="${prefix}"/>
      <child link="${prefix}_optical_link"/>
      <origin xyz="0 0 0" rpy="0 3.1415926 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.0001" upper="0.0001" effort="0" velocity="0" />
    </joint>

    <link name="${prefix}_optical_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${a} ${a} ${a}" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${a} ${a} ${a}" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${m}" />
        <inertia ixx="${1/6 * m * a*a}" ixy="0" ixz="0"
                 iyy="${1/6 * m * a*a}" iyz="0" 
                 izz="${1/6 * m * a*a}" />
      </inertial>
    </link>
  </xacro:macro>
</robot>