<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer">

  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_wheel.urdf.xacro"/>
  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_arm.urdf.xacro"/>
  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_depth_camera.urdf.xacro"/>
  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_tip.urdf.xacro"/>
  <xacro:include filename="$(find engineer_description)/urdf/robot/engineer_robot_plugin.gazebo"/>
  <xacro:property name="ros2_param_file" value="$(find engineer_description)/config/robot_parameters.yaml" />
  <xacro:property name="robot_params" value="${xacro.load_yaml(ros2_param_file)}" />

  <link name="base_link">
    <inertial>
      <origin xyz="0.005227 0.003946 0.069171" rpy="0 0 0"/>
      <mass value="11.8124"/>
      <inertia ixx="0.460669" ixy="-0.020119" ixz="0.002386"
               iyy="0.348855" iyz="0.003757" izz="0.666791"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file://$(find engineer_description)/meshes/visual/base_link/base_link.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find engineer_description)/meshes/collision/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <xacro:engineer_wheel prefix="LF" params="${robot_params.wheel.LF}"/>
  <xacro:engineer_wheel prefix="RF" params="${robot_params.wheel.RF}"/>
  <xacro:engineer_wheel prefix="RB" params="${robot_params.wheel.RB}"/>
  <xacro:engineer_wheel prefix="LB" params="${robot_params.wheel.LB}"/>

  <xacro:engineer_arm prefix="link1" parent="base_link" params="${robot_params.boom.link1}"/>
  <xacro:engineer_arm prefix="link2" parent="link1" params="${robot_params.boom.link2}"/>
  <xacro:engineer_arm prefix="link3" parent="link2" params="${robot_params.boom.link3}"/>
  <xacro:engineer_arm prefix="link4" parent="link3" params="${robot_params.boom.link4}"/>
  <xacro:engineer_arm prefix="link5" parent="link4" params="${robot_params.boom.link5}"/>
  <xacro:engineer_arm prefix="link6" parent="link5" params="${robot_params.boom.link6}"/>
  <xacro:engineer_arm prefix="link7" parent="link6" params="${robot_params.boom.link7}"/>
  <xacro:engineer_arm prefix="left_z" parent="base_link" params="${robot_params.left.z}"/>
  <xacro:engineer_arm prefix="left_x" parent="left_z" params="${robot_params.left.x}"/>
  <xacro:engineer_arm prefix="left_yaw" parent="left_x" params="${robot_params.left.yaw}"/>
  <xacro:engineer_arm prefix="right_z" parent="base_link" params="${robot_params.right.z}"/>
  <xacro:engineer_arm prefix="right_x" parent="right_z" params="${robot_params.right.x}"/>
  <xacro:engineer_arm prefix="right_yaw" parent="right_x" params="${robot_params.right.yaw}"/>

  <xacro:engineer_tip prefix="link7" m="0.0001" a="0.0001"/>
  <xacro:engineer_depth_camera prefix="engineer_depth_camera" parent="link3" origin_x="0.152" origin_y="-0.078" origin_z="0.0" rotation_x="1.5708" rotation_y="0" rotation_z="0"/>

  <xacro:engineer_wheel_trans prefix="LF"/>
  <xacro:engineer_wheel_trans prefix="RF"/>
  <xacro:engineer_wheel_trans prefix="RB"/>
  <xacro:engineer_wheel_trans prefix="LB"/>

  <xacro:engineer_wheel_gazebo prefix="LF" params="${robot_params.wheel.LF}"/>
  <xacro:engineer_wheel_gazebo prefix="RF" params="${robot_params.wheel.RF}"/>
  <xacro:engineer_wheel_gazebo prefix="RB" params="${robot_params.wheel.RB}"/>
  <xacro:engineer_wheel_gazebo prefix="LB" params="${robot_params.wheel.LB}"/>
  <xacro:engineer_arm_gazebo prefix="base_link"/>
  <xacro:engineer_arm_gazebo prefix="link1"/>
  <xacro:engineer_arm_gazebo prefix="link2"/>
  <xacro:engineer_arm_gazebo prefix="link3"/>
  <xacro:engineer_arm_gazebo prefix="link4"/>
  <xacro:engineer_arm_gazebo prefix="link5"/>
  <xacro:engineer_arm_gazebo prefix="link6"/>
  <xacro:engineer_arm_gazebo prefix="link7"/>
  <xacro:engineer_arm_gazebo prefix="left_z"/>
  <xacro:engineer_arm_gazebo prefix="left_x"/>
  <xacro:engineer_arm_gazebo prefix="left_yaw"/>
  <xacro:engineer_arm_gazebo prefix="right_z"/>
  <xacro:engineer_arm_gazebo prefix="right_x"/>
  <xacro:engineer_arm_gazebo prefix="right_yaw"/>
  <xacro:engineer_depth_camera_gazebo prefix="link7_optical_link"/>
  <xacro:engineer_depth_camera_gazebo prefix="engineer_depth_camera"/>
</robot>
